In [30]:
import os
import math

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from pydataset import data

from env import host, user, password

url = f'mysql+pymysql://{user}:{password}@{host}/employees'

import seaborn as sns

### #1

In [31]:
iris = sns.load_dataset('iris')
df_iris = pd.DataFrame(iris)
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [32]:
df_iris.shape

(150, 5)

In [33]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [34]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [35]:
df_iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

No I wouldn't rescale based on this data, it appears to be appropriate data

### #2

In [43]:
telco = pd.read_csv('Excel_Exercises.csv')
df_excel = pd.DataFrame(telco)
df_excel

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,partner_dependents,start_date,monthly_charges.1,subscription_type,phone_service_type,internet_service_type,phone_asvalue,internet_asvalue,phone&int_asvalue,Tenure Quartiles
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,...,3.0,11/20/2019,65.6,1 Year,One Line,DSL,1,1,1,8.717230
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,...,0.0,11/20/2019,59.9,Month-to-Month,Two or More Lines,DSL,1,1,1,28.673115
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,...,0.0,5/20/2020,73.9,Month-to-Month,One Line,Fiber Optic,1,1,1,55.244460
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,...,1.0,8/20/2019,98,Month-to-Month,One Line,Fiber Optic,1,1,1,79.341772
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,...,1.0,5/20/2020,83.9,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Month-to-Month,No Phone Service,No Internet Service,0,0,0,NaN
7046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Month-to-Month,No Phone Service,No Internet Service,0,0,0,NaN
7047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Month-to-Month,No Phone Service,No Internet Service,0,0,0,NaN
7048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Month-to-Month,No Phone Service,No Internet Service,0,0,0,NaN
7049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Month-to-Month,No Phone Service,No Internet Service,0,0,0,NaN

In [44]:
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,partner_dependents,start_date,monthly_charges.1,subscription_type,phone_service_type,internet_service_type,phone_asvalue,internet_asvalue,phone&int_asvalue,Tenure Quartiles
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.60,...,3.0,11/20/2019,65.6,1 Year,One Line,DSL,1,1,1,8.717230
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.90,...,0.0,11/20/2019,59.9,Month-to-Month,Two or More Lines,DSL,1,1,1,28.673115
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.90,...,0.0,5/20/2020,73.9,Month-to-Month,One Line,Fiber Optic,1,1,1,55.244460
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.00,...,1.0,8/20/2019,98,Month-to-Month,One Line,Fiber Optic,1,1,1,79.341772
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.90,...,1.0,5/20/2020,83.9,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
5,0013-MHZWF,Female,0.0,No,Yes,1.0,1.0,0.0,Credit card (automatic),69.40,...,2.0,12/20/2019,69.4,Month-to-Month,One Line,DSL,1,1,1,NaN
6,0013-SMEOE,Female,1.0,Yes,No,1.0,2.0,2.0,Bank transfer (automatic),109.70,...,1.0,8/20/2014,109.7,2 Year,One Line,Fiber Optic,1,1,1,NaN
7,0014-BMAQU,Male,0.0,Yes,No,2.0,2.0,2.0,Credit card (automatic),84.65,...,1.0,5/20/2015,84.65,2 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
8,0015-UOCOJ,Female,1.0,No,No,1.0,1.0,0.0,Electronic check,48.20,...,0.0,1/20/2020,48.2,Month-to-Month,One Line,DSL,1,1,1,NaN
9,0016-QLJIS,Female,0.0,Yes,Yes,2.0,1.0,2.0,Mailed check,90.45,...,3.0,3/20/2015,90.45,2 Year,Two or More Lines,DSL,1,1,1,NaN
10,0017-DINOC,Male,0.0,No,No,0.0,1.0,2.0,Credit card (automatic),45.20,...,0.0,2/20/2016,45.2,2 Year,No Phone Service,DSL,0,1,0,NaN
11,0017-IUDMW,Female,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),116.80,...,3.0,8/20/2014,116.8,2 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
12,0018-NYROU,Female,0.0,Yes,No,1.0,2.0,0.0,Electronic check,68.95,...,1.0,3/20/2020,68.95,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
13,0019-EFAEP,Female,0.0,No,No,2.0,2.0,2.0,Bank transfer (automatic),101.30,...,0.0,9/20/2014,101.3,2 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
14,0019-GFNTW,Female,0.0,No,No,0.0,1.0,2.0,Bank transfer (automatic),45.05,...,0.0,12/20/2015,45.05,2 Year,No Phone Service,DSL,0,1,0,NaN
15,0020-INWCK,Female,0.0,Yes,Yes,2.0,2.0,2.0,Credit card (automatic),95.75,...,3.0,9/20/2014,95.75,2 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
16,0020-JDNXP,Female,0.0,Yes,Yes,0.0,1.0,1.0,Mailed check,61.25,...,3.0,12/20/2017,61.25,1 Year,No Phone Service,DSL,0,1,0,NaN
17,0021-IKXGC,Female,1.0,No,No,2.0,2.0,0.0,Electronic check,72.10,...,0.0,7/20/2020,72.1,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
18,0022-TCJCI,Male,1.0,No,No,1.0,1.0,1.0,Credit card (automatic),62.70,...,0.0,12/20/2016,62.7,1 Year,One Line,DSL,1,1,1,NaN
19,0023-HGHWL,Male,1.0,No,No,0.0,1.0,0.0,Electronic check,25.10,...,0.0,7/20/2020,25.1,Month-to-Month,No Phone Service,DSL,0,1,0,NaN
20,0023-UYUPN,Female,1.0,Yes,No,2.0,0.0,1.0,Electronic check,25.20,...,1.0,5/20/2016,25.2,1 Year,Two or More Lines,No Internet Service,1,0,0,NaN
21,0023-XUOPT,Female,0.0,Yes,No,2.0,2.0,0.0,Electronic check,94.10,...,1.0,8/20/2019,94.1,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
22,0027-KWYKW,Female,0.0,Yes,Yes,2.0,2.0,0.0,Electronic check,83.75,...,3.0,10/20/2018,83.75,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
23,0030-FNXPP,Female,0.0,No,No,1.0,0.0,0.0,Mailed check,19.85,...,0.0,6/20/2020,19.85,Month-to-Month,One Line,No Internet Service,1,0,0,NaN
24,0031-PVLZI,Female,0.0,Yes,Yes,1.0,0.0,0.0,Mailed check,20.35,...,3.0,5/20/2020,20.35,Month-to-Month,One Line,No Internet Service,1,0,0,NaN
25,0032-PGELS,Female,0.0,Yes,Yes,0.0,1.0,0.0,Bank transfer (automatic),30.50,...,3.0,7/20/2020,30.5,Month-to-Month,No Phone Service,DSL,0,1,0,NaN
26,0036-IHMOT,Female,0.0,Yes,Yes,1.0,2.0,1.0,Bank transfer (automatic),103.70,...,3.0,2/20/2016,103.7,1 Year,One Line,Fiber Optic,1,1,1,NaN
27,0040-HALCW,Male,0.0,Yes,Yes,1.0,0.0,2.0,Credit card (automatic),20.40,...,3.0,3/20/2016,20.4,2 Year,One Line,No Internet Service,1,0,0,NaN
28,0042-JVWOJ,Male,0.0,No,No,1.0,0.0,1.0,Bank transfer (automatic),19.60,...,0.0,8/20/2018,19.6,1 Year,One Line,No Internet Service,1,0,0,NaN
29,0042-RLHYP,Female,0.0,Yes,Yes,1.0,0.0,2.0,Bank transfer (automatic),19.70,...,3.0,10/20/2014,19.7,2 Year,One Line,No Internet Service,1,0,0,NaN
30,0048-LUMLS,Male,0.0,Yes,Yes,1.0,2.0,1.0,Credit card (automatic),91.20,...,3.0,9/20/2017,91.2,1 Year,One Line,Fiber Optic,1,1,1,NaN
31,0048-PIHNL,Female,0.0,Yes,No,1.0,0.0,1.0,Bank transfer (automatic),20.45,...,1.0,12/20/2016,20.45,1 Year,One Line,No Internet Service,1,0,0,NaN
32,0052-DCKON,Male,0.0,Yes,No,2.0,2.0,1.0,Bank transfer (automatic),115.80,...,1.0,12/20/2014,115.8,1 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
33,0052-YNYOT,Female,0.0,No,No,1.0,0.0,1.0,Electronic check,20.55,...,0.0,3/20/2015,20.55,1 Year,One Line,No Internet Service,1,0,0,NaN
34,0056-EPFBG,Male,0.0,Yes,Yes,0.0,1.0,2.0,Credit card (automatic),39.40,...,3.0,12/20/2018,39.4,2 Year,No Phone Service,DSL,0,1,0,NaN
35,0057-QBUQH,Female,0.0,No,Yes,2.0,0.0,2.0,Electronic check,25.10,...,2.0,2/20/2017,25.1,2 Year,Two or More Lines,No Internet Service,1,0,0,NaN
36,0058-EVZWM,Female,0.0,Yes,No,2.0,2.0,0.0,Bank transfer (automatic),89.80,...,1.0,1/20/2016,89.8,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
37,0060-FUALY,Female,0.0,Yes,No,2.0,2.0,0.0,Electronic check,94.75,...,1.0,9/20/2015,94.75,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
38,0064-SUDOG,Female,0.0,Yes,Yes,1.0,0.0,2.0,Bank transfer (automatic),20.30,...,3.0,9/20/2019,20.3,2 Year,One Line,No Internet Service,1,0,0,NaN
39,0064-YIJGF,Male,0.0,Yes,Yes,2.0,2.0,0.0,Bank transfer (automatic),75.75,...,3.0,7/20/2018,75.75,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
40,0067-DKWBL,Male,1.0,No,No,1.0,1.0,0.0,Electronic check,49.25,...,0.0,7/20/2020,49.25,Month-to-Month,One Line,DSL,1,1,1,NaN
41,0068-FIGTF,Female,0.0,No,No,1.0,1.0,1.0,Mailed check,78.20,...,0.0,6/20/2018,78.2,1 Year,One Line,DSL,1,1,1,NaN
42,0071-NDAFP,Male,0.0,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),25.50,...,3.0,8/20/2018,25.5,2 Year,Two or More Lines,No Internet Service,1,0,0,NaN
43,0074-HDKDG,Male,0.0,Yes,Yes,1.0,1.0,1.0,Bank transfer (automatic),61.60,...,3.0,6/20/2018,61.6,1 Year,One Line,DSL,1,1,1,NaN
44,0076-LVEPS,Male,0.0,No,Yes,0.0,1.0,0.0,Mailed check,45.00,...,2.0,5/20/2018,45,Month-to-Month,No Phone Service,DSL,0,1,0,NaN
45,0078-XZMHT,Male,0.0,Yes,No,2.0,1.0,2.0,Bank transfer (automatic),85.15,...,1.0,6/20/2014,85.15,2 Year,Two or More Lines,DSL,1,1,1,NaN
46,0080-EMYVY,Female,0.0,No,No,1.0,1.0,1.0,Credit card (automatic),51.45,...,0.0,6/20/2019,51.45,1 Year,One Line,DSL,1,1,1,NaN
47,0080-OROZO,Female,0.0,No,No,1.0,2.0,1.0,Electronic check,99.25,...,0.0,9/20/2017,99.25,1 Year,One Line,Fiber Optic,1,1,1,NaN
48,0082-LDZUE,Male,0.0,No,No,1.0,1.0,0.0,Mailed check,44.30,...,0.0,7/20/2020,44.3,Month-to-Month,One Line,DSL,1,1,1,NaN
49,0082-OQIQY,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,94.20,...,0.0,5/20/2018,94.2,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
50,0083-PIVIK,Male,0.0,No,No,2.0,1.0,1.0,Electronic check,81.25,...,0.0,12/20/2014,81.25,1 Year,Two or More Lines,DSL,1,1,1,NaN
51,0089-IIQKO,Female,0.0,Yes,Yes,2.0,2.0,0.0,Credit card (automatic),99.95,...,3.0,7/20/2017,99.95,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
52,0093-EXYQL,Female,1.0,No,No,1.0,2.0,0.0,Electronic check,91.55,...,0.0,4/20/2017,91.55,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
53,0093-XWZFY,Male,0.0,No,No,2.0,2.0,0.0,Credit card (automatic),104.50,...,0.0,6/20/2017,104.5,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
54,0094-OIFMO,Female,1.0,No,No,1.0,2.0,0.0,Electronic check,95.00,...,0.0,9/20/2019,95,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
55,0096-BXERS,Female,0.0,Yes,No,2.0,1.0,0.0,Electronic check,50.35,...,1.0,2/20/2020,50.35,Month-to-Month,Two or More Lines,DSL,1,1,1,NaN
56,0096-FCPUF,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,64.50,...,0.0,3/20/2018,64.5,Month-to-Month,Two or More Lines,DSL,1,1,1,NaN
57,0098-BOWSO,Male,0.0,No,No,1.0,0.0,0.0,Electronic check,19.40,...,0.0,5/20/2018,19.4,Month-to-Month,One Line,No Internet Service,1,0,0,NaN
58,0100-DUVFC,Male,1.0,Yes,No,2.0,2.0,1.0,Electronic check,104.80,...,1.0,11/20/2014,104.8,1 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
59,0103-CSITQ,Female,0.0,Yes,No,2.0,2.0,1.0,Bank transfer (automatic),109.40,...,1.0,11/20/2015,109.4,1 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
60,0104-PPXDV,Male,0.0,Yes,No,1.0,1.0,1.0,Credit card (automatic),50.30,...,1.0,11/20/2015,50.3,1 Year,One Line,DSL,1,1,1,NaN
61,0106-GHRQR,Male,0.0,No,No,2.0,1.0,0.0,Bank transfer (automatic),71.40,...,0.0,4/20/2019,71.4,Month-to-Month,Two or More Lines,DSL,1,1,1,NaN
62,0106-UGRDO,Female,0.0,Yes,No,2.0,2.0,2.0,Electronic check,116.00,...,1.0,10/20/2014,116,2 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
63,0107-WESLM,Male,0.0,No,No,1.0,0.0,0.0,Electronic check,19.85,...,0.0,7/20/2020,19.85,Month-to-Month,One Line,No Internet Service,1,0,0,NaN
64,0107-YHINA,Male,0.0,No,Yes,2.0,2.0,0.0,Electronic check,99.75,...,2.0,7/20/2020,99.75,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
65,0111-KLBQG,Male,1.0,Yes,Yes,1.0,2.0,0.0,Mailed check,93.95,...,3.0,2/20/2018,93.95,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
66,0112-QAWRZ,Male,0.0,Yes,Yes,2.0,2.0,0.0,Bank transfer (automatic),90.80,...,3.0,5/20/2019,90.8,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
67,0112-QWPNC,Male,0.0,Yes,No,2.0,1.0,1.0,Electronic check,84.35,...,1.0,8/20/2016,84.35,1 Year,Two or More Lines,DSL,1,1,1,NaN
68,0114-IGABW,Female,0.0,Yes,No,0.0,1.0,2.0,Bank transfer (automatic),58.25,...,1.0,9/20/2014,58.25,2 Year,No Phone Service,DSL,0,1,0,NaN
69,0114-PEGZZ,Female,0.0,No,No,2.0,2.0,0.0,Electronic check,107.55,...,0.0,11/20/2017,107.55,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
70,0114-RSRRW,Female,0.0,Yes,No,1.0,0.0,0.0,Bank transfer (automatic),19.95,...,1.0,11/20/2019,19.95,Month-to-Month,One Line,No Internet Service,1,0,0,NaN
71,0115-TFERT,Male,0.0,Yes,No,2.0,2.0,0.0,Electronic check,111.20,...,1.0,12/20/2018,111.2,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
72,0117-LFRMW,Male,0.0,Yes,Yes,0.0,1.0,0.0,Bank transfer (automatic),40.20,...,3.0,8/20/2017,40.2,Month-to-Month,No Phone Service,DSL,0,1,0,NaN
73,0118-JPNOY,Female,1.0,No,No,1.0,2.0,0.0,Credit card (automatic),85.80,...,0.0,7/20/2018,85.8,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
74,0121-SNYRK,Male,0.0,No,No,0.0,1.0,1.0,Mailed check,35.40,...,0.0,7/20/2016,35.4,1 Year,No Phone Service,DSL,0,1,0,NaN
75,0122-OAHPZ,Female,0.0,No,No,2.0,2.0,0.0,Electronic check,73.85,...,0.0,2/20/2020,73.85,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
76,0123-CRBRT,Female,0.0,Yes,Yes,2.0,1.0,2.0,Mailed check,88.10,...,3.0,6/20/2015,88.1,2 Year,Two or More Lines,DSL,1,1,1,NaN
77,0125-LZQXK,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,101.35,...,0.0,5/20/2019,101.35,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
78,0128-MKWSG,Female,0.0,No,Yes,0.0,1.0,0.0,Mailed check,45.80,...,2.0,7/20/2018,45.8,Month-to-Month,No Phone Service,DSL,0,1,0,NaN
79,0129-KPTWJ,Male,0.0,Yes,No,1.0,2.0,0.0,Electronic check,94.65,...,1.0,9/20/2014,94.65,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
80,0129-QMPDR,Male,0.0,Yes,Yes,1.0,0.0,1.0,Bank transfer (automatic),20.50,...,3.0,2/20/2017,20.5,1 Year,One Line,No Internet Service,1,0,0,NaN
81,0130-SXOUN,Male,0.0,No,No,2.0,2.0,0.0,Credit card (automatic),89.40,...,0.0,2/20/2015,89.4,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
82,0133-BMFZO,Female,0.0,No,No,1.0,2.0,0.0,Electronic check,86.25,...,0.0,6/20/2020,86.25,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
83,0134-XWXCE,Female,1.0,No,No,1.0,1.0,1.0,Bank transfer (automatic),74.85,...,0.0,1/20/2017,74.85,1 Year,One Line,DSL,1,1,1,NaN
84,0135-NMXAP,Female,0.0,No,No,2.0,2.0,0.0,Bank transfer (automatic),89.75,...,0.0,9/20/2019,89.75,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
85,0136-IFMYD,Male,1.0,Yes,No,2.0,2.0,2.0,Electronic check,109.95,...,1.0,11/20/2014,109.95,2 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
86,0137-OCGAB,Female,0.0,No,No,2.0,2.0,0.0,Mailed check,80.20,...,0.0,7/20/2020,80.2,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
87,0137-UDEUO,Female,0.0,No,No,1.0,0.0,0.0,Mailed check,19.85,...,0.0,5/20/2020,19.85,Month-to-Month,One Line,No Internet Service,1,0,0,NaN
88,0139-IVFJG,Female,0.0,Yes,No,1.0,2.0,0.0,Electronic check,90.35,...,1.0,6/20/2020,90.35,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
89,0141-YEAYS,Female,1.0,No,No,2.0,2.0,0.0,Bank transfer (automatic),86.45,...,0.0,5/20/2018,86.45,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
90,0142-GVYSN,Male,0.0,No,No,1.0,0.0,0.0,Electronic check,20.30,...,0.0,7/20/2018,20.3,Month-to-Month,One Line,No Internet Service,1,0,0,NaN
91,0147-ESWWR,Female,1.0,Yes,No,2.0,2.0,0.0,Electronic check,101.25,...,1.0,5/20/2017,101.25,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
92,0148-DCDOS,Male,0.0,No,No,2.0,2.0,0.0,Bank transfer (automatic),94.70,...,0.0,8/20/2018,94.7,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
93,0151-ONTOV,Female,0.0,No,No,1.0,2.0,0.0,Mailed check,70.90,...,0.0,7/20/2020,70.9,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN
94,0156-FVPTA,Male,0.0,Yes,No,1.0,1.0,0.0,Electronic check,54.20,...,1.0,11/20/2018,54.2,Month-to-Month,One Line,DSL,1,1,1,NaN
95,0164-APGRB,Female,0.0,No,No,2.0,2.0,2.0,Electronic check,114.90,...,0.0,7/20/2014,114.9,2 Year,Two or More Lines,Fiber Optic,1,1,1,NaN
96,0164-XAIRP,Female,0.0,No,No,1.0,0.0,2.0,Bank transfer (automatic),19.55,...,0.0,8/20/2018,19.55,2 Year,One Line,No Internet Service,1,0,0,NaN
97,0168-XZKBB,Female,0.0,Yes,No,2.0,2.0,0.0,Electronic check,86.85,...,1.0,2/20/2019,86.85,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN
98,0174-QRVVY,Male,0.0,Yes,Yes,2.0,0.0,2.0,Credit card (automatic),25.35,...,3.0,8/20/2014,25.35,2 Year,Two or More Lines,No Internet Service,1,0,0,NaN
99,0177-PXBAT,Male,1.0,Yes,No,2.0,2.0,0.0,Bank transfer (automatic),109.90,...,1.0,11/20/2017,109.9,Month-to-Month,Two or More Lines,Fiber Optic,1,1,1,NaN

In [83]:
df_excel.shape[0]

7050

In [56]:
df_excel.iloc[: 5]

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,partner_dependents,start_date,monthly_charges.1,subscription_type,phone_service_type,internet_service_type,phone_asvalue,internet_asvalue,phone&int_asvalue,Tenure Quartiles
0,0002-ORFBO,Female,0.0,Yes,Yes,1.0,1.0,1.0,Mailed check,65.6,...,3.0,11/20/2019,65.6,1 Year,One Line,DSL,1,1,1,8.717230
1,0003-MKNFE,Male,0.0,No,No,2.0,1.0,0.0,Mailed check,59.9,...,0.0,11/20/2019,59.9,Month-to-Month,Two or More Lines,DSL,1,1,1,28.673115
2,0004-TLHLJ,Male,0.0,No,No,1.0,2.0,0.0,Electronic check,73.9,...,0.0,5/20/2020,73.9,Month-to-Month,One Line,Fiber Optic,1,1,1,55.244460
3,0011-IGKFF,Male,1.0,Yes,No,1.0,2.0,0.0,Electronic check,98.0,...,1.0,8/20/2019,98,Month-to-Month,One Line,Fiber Optic,1,1,1,79.341772
4,0013-EXCHZ,Female,1.0,Yes,No,1.0,2.0,0.0,Mailed check,83.9,...,1.0,5/20/2020,83.9,Month-to-Month,One Line,Fiber Optic,1,1,1,NaN

In [71]:
list(df_excel.select_dtypes(['object']).columns)

['customer_id',
 'gender',
 'partner',
 'dependents',
 'payment_type',
 'churn',
 'is_female',
 'has_churned',
 'has_phone',
 'has_internet',
 'has_phone_and_internet',
 'start_date',
 'monthly_charges.1',
 'subscription_type',
 'phone_service_type',
 'internet_service_type']

In [84]:
numbers_only = df_excel.select_dtypes(np.number)
df_range = numbers_only.max() - numbers_only.min()
df_range

is_senior_citizen        1.000000
phone_service            2.000000
internet_service         2.000000
contract_type            2.000000
monthly_charges        100.500000
total_charges         8666.000000
monthly_tenure          79.340000
partner_dependents       3.000000
phone_asvalue            1.000000
internet_asvalue         1.000000
phone&int_asvalue        1.000000
Tenure Quartiles        70.624542
dtype: float64

In [85]:
google = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/export?format=csv&usp=sharing'
    
df_google = pd.read_csv(google)

df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [86]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [87]:
df_google.shape

(891, 12)

In [88]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [89]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [90]:
df_google.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [91]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [95]:
import env

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

def get_titanic_data():
    return pd.DataFrame(pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db')))

get_titanic_data()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [96]:
def get_iris_data():
    return pd.DataFrame(pd.read_sql('SELECT * FROM measurements JOIN species on measurements.species_id = species.species_id', get_connection('iris_db')))

get_iris_data()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id,species_name
0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,5,5.0,3.6,1.4,0.2,1,1,setosa
5,6,5.4,3.9,1.7,0.4,1,1,setosa
6,7,4.6,3.4,1.4,0.3,1,1,setosa
7,8,5.0,3.4,1.5,0.2,1,1,setosa
8,9,4.4,2.9,1.4,0.2,1,1,setosa
9,10,4.9,3.1,1.5,0.1,1,1,setosa
10,11,5.4,3.7,1.5,0.2,1,1,setosa
11,12,4.8,3.4,1.6,0.2,1,1,setosa
12,13,4.8,3.0,1.4,0.1,1,1,setosa
13,14,4.3,3.0,1.1,0.1,1,1,setosa
14,15,5.8,4.0,1.2,0.2,1,1,setosa
15,16,5.7,4.4,1.5,0.4,1,1,setosa
16,17,5.4,3.9,1.3,0.4,1,1,setosa
17,18,5.1,3.5,1.4,0.3,1,1,setosa
18,19,5.7,3.8,1.7,0.3,1,1,setosa
19,20,5.1,3.8,1.5,0.3,1,1,setosa
20,21,5.4,3.4,1.7,0.2,1,1,setosa
21,22,5.1,3.7,1.5,0.4,1,1,setosa
22,23,4.6,3.6,1.0,0.2,1,1,setosa
23,24,5.1,3.3,1.7,0.5,1,1,setosa
24,25,4.8,3.4,1.9,0.2,1,1,setosa
25,26,5.0,3.0,1.6,0.2,1,1,setosa
26,27,5.0,3.4,1.6,0.4,1,1,setosa
27,28,5.2,3.5,1.5,0.2,1,1,setosa
28,29,5.2,3.4,1.4,0.2,1,1,setosa
29,30,4.7,3.2,1.6,0.2,1,1,setosa
30,31,4.8,3.1,1.6,0.2,1,1,setosa
31,32,5.4,3.4,1.5,0.4,1,1,setosa
32,33,5.2,4.1,1.5,0.1,1,1,setosa
33,34,5.5,4.2,1.4,0.2,1,1,setosa
34,35,4.9,3.1,1.5,0.2,1,1,setosa
35,36,5.0,3.2,1.2,0.2,1,1,setosa
36,37,5.5,3.5,1.3,0.2,1,1,setosa
37,38,4.9,3.6,1.4,0.1,1,1,setosa
38,39,4.4,3.0,1.3,0.2,1,1,setosa
39,40,5.1,3.4,1.5,0.2,1,1,setosa
40,41,5.0,3.5,1.3,0.3,1,1,setosa
41,42,4.5,2.3,1.3,0.3,1,1,setosa
42,43,4.4,3.2,1.3,0.2,1,1,setosa
43,44,5.0,3.5,1.6,0.6,1,1,setosa
44,45,5.1,3.8,1.9,0.4,1,1,setosa
45,46,4.8,3.0,1.4,0.3,1,1,setosa
46,47,5.1,3.8,1.6,0.2,1,1,setosa
47,48,4.6,3.2,1.4,0.2,1,1,setosa
48,49,5.3,3.7,1.5,0.2,1,1,setosa
49,50,5.0,3.3,1.4,0.2,1,1,setosa
50,51,7.0,3.2,4.7,1.4,2,2,versicolor
51,52,6.4,3.2,4.5,1.5,2,2,versicolor
52,53,6.9,3.1,4.9,1.5,2,2,versicolor
53,54,5.5,2.3,4.0,1.3,2,2,versicolor
54,55,6.5,2.8,4.6,1.5,2,2,versicolor
55,56,5.7,2.8,4.5,1.3,2,2,versicolor
56,57,6.3,3.3,4.7,1.6,2,2,versicolor
57,58,4.9,2.4,3.3,1.0,2,2,versicolor
58,59,6.6,2.9,4.6,1.3,2,2,versicolor
59,60,5.2,2.7,3.9,1.4,2,2,versicolor
60,61,5.0,2.0,3.5,1.0,2,2,versicolor
61,62,5.9,3.0,4.2,1.5,2,2,versicolor
62,63,6.0,2.2,4.0,1.0,2,2,versicolor
63,64,6.1,2.9,4.7,1.4,2,2,versicolor
64,65,5.6,2.9,3.6,1.3,2,2,versicolor
65,66,6.7,3.1,4.4,1.4,2,2,versicolor
66,67,5.6,3.0,4.5,1.5,2,2,versicolor
67,68,5.8,2.7,4.1,1.0,2,2,versicolor
68,69,6.2,2.2,4.5,1.5,2,2,versicolor
69,70,5.6,2.5,3.9,1.1,2,2,versicolor
70,71,5.9,3.2,4.8,1.8,2,2,versicolor
71,72,6.1,2.8,4.0,1.3,2,2,versicolor
72,73,6.3,2.5,4.9,1.5,2,2,versicolor
73,74,6.1,2.8,4.7,1.2,2,2,versicolor
74,75,6.4,2.9,4.3,1.3,2,2,versicolor
75,76,6.6,3.0,4.4,1.4,2,2,versicolor
76,77,6.8,2.8,4.8,1.4,2,2,versicolor
77,78,6.7,3.0,5.0,1.7,2,2,versicolor
78,79,6.0,2.9,4.5,1.5,2,2,versicolor
79,80,5.7,2.6,3.5,1.0,2,2,versicolor
80,81,5.5,2.4,3.8,1.1,2,2,versicolor
81,82,5.5,2.4,3.7,1.0,2,2,versicolor
82,83,5.8,2.7,3.9,1.2,2,2,versicolor
83,84,6.0,2.7,5.1,1.6,2,2,versicolor
84,85,5.4,3.0,4.5,1.5,2,2,versicolor
85,86,6.0,3.4,4.5,1.6,2,2,versicolor
86,87,6.7,3.1,4.7,1.5,2,2,versicolor
87,88,6.3,2.3,4.4,1.3,2,2,versicolor
88,89,5.6,3.0,4.1,1.3,2,2,versicolor
89,90,5.5,2.5,4.0,1.3,2,2,versicolor
90,91,5.5,2.6,4.4,1.2,2,2,versicolor
91,92,6.1,3.0,4.6,1.4,2,2,versicolor
92,93,5.8,2.6,4.0,1.2,2,2,versicolor
93,94,5.0,2.3,3.3,1.0,2,2,versicolor
94,95,5.6,2.7,4.2,1.3,2,2,versicolor
95,96,5.7,3.0,4.2,1.2,2,2,versicolor
96,97,5.7,2.9,4.2,1.3,2,2,versicolor
97,98,6.2,2.9,4.3,1.3,2,2,versicolor
98,99,5.1,2.5,3.0,1.1,2,2,versicolor
99,100,5.7,2.8,4.1,1.3,2,2,versicolor
100,101,6.3,3.3,6.0,2.5,3,3,virginica
101,102,5.8,2.7,5.1,1.9,3,3,virginica
102,103,7.1,3.0,5.9,2.1,3,3,virginica
103,104,6.3,2.9,5.6,1.8,3,3,virginica
104,105,6.5,3.0,5.8,2.2,3,3,virginica
105,106,7.6,3.0,6.6,2.1,3,3,virginica
106,107,4.9,2.5,4.5,1.7,3,3,virginica
107,108,7.3,2.9,6.3,1.8,3,3,virginica
108,109,6.7,2.5,5.8,1.8,3,3,virginica
109,110,7.2,3.6,6.1,2.5,3,3,virginica
110,111,6.5,3.2,5.1,2.0,3,3,virginica
111,112,6.4,2.7,5.3,1.9,3,3,virginica
112,113,6.8,3.0,5.5,2.1,3,3,virginica
113,114,5.7,2.5,5.0,2.0,3,3,virginica
114,115,5.8,2.8,5.1,2.4,3,3,virginica
115,116,6.4,3.2,5.3,2.3,3,3,virginica
116,117,6.5,3.0,5.5,1.8,3,3,virginica
117,118,7.7,3.8,6.7,2.2,3,3,virginica
118,119,7.7,2.6,6.9,2.3,3,3,virginica
119,120,6.0,2.2,5.0,1.5,3,3,virginica
120,121,6.9,3.2,5.7,2.3,3,3,virginica
121,122,5.6,2.8,4.9,2.0,3,3,virginica
122,123,7.7,2.8,6.7,2.0,3,3,virginica
123,124,6.3,2.7,4.9,1.8,3,3,virginica
124,125,6.7,3.3,5.7,2.1,3,3,virginica
125,126,7.2,3.2,6.0,1.8,3,3,virginica
126,127,6.2,2.8,4.8,1.8,3,3,virginica
127,128,6.1,3.0,4.9,1.8,3,3,virginica
128,129,6.4,2.8,5.6,2.1,3,3,virginica
129,130,7.2,3.0,5.8,1.6,3,3,virginica
130,131,7.4,2.8,6.1,1.9,3,3,virginica
131,132,7.9,3.8,6.4,2.0,3,3,virginica
132,133,6.4,2.8,5.6,2.2,3,3,virginica
133,134,6.3,2.8,5.1,1.5,3,3,virginica
134,135,6.1,2.6,5.6,1.4,3,3,virginica
135,136,7.7,3.0,6.1,2.3,3,3,virginica
136,137,6.3,3.4,5.6,2.4,3,3,virginica
137,138,6.4,3.1,5.5,1.8,3,3,virginica
138,139,6.0,3.0,4.8,1.8,3,3,virginica
139,140,6.9,3.1,5.4,2.1,3,3,virginica
140,141,6.7,3.1,5.6,2.4,3,3,virginica
141,142,6.9,3.1,5.1,2.3,3,3,virginica
142,143,5.8,2.7,5.1,1.9,3,3,virginica
143,144,6.8,3.2,5.9,2.3,3,3,virginica
144,145,6.7,3.3,5.7,2.5,3,3,virginica
145,146,6.7,3.0,5.2,2.3,3,3,virginica
146,147,6.3,2.5,5.0,1.9,3,3,virginica
147,148,6.5,3.0,5.2,2.0,3,3,virginica
148,149,6.2,3.4,5.4,2.3,3,3,virginica
149,150,5.9,3.0,5.1,1.8,3,3,virginica

In [102]:
import os

def my_titanic_data():
    filename = "titanic.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = pd.read_sql('SELECT * FROM passengers', get_connection('titanic_db'))
        df.to_csv(filename, index = False)
        return df
my_titanic_data().head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [101]:
import os

def my_iris_data():
    filename = "titanic.csv"

    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        df = pd.read_sql('SELECT * FROM passengers', get_connection('iris_db'))
        df.to_csv(filename, index = False)
        return df
my_iris_data().head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1